@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');
/* ---- common ---- */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* touch-action: none; */
}
html{height: 100%;font-size: 1em;font-weight: 600;word-break: keep-all;}
body{margin: 0px;color: #5f6368;font-family: "Open Sans";font-size: 13px;font-weight: 600;line-height: 1.5;background-color: #fff;}

a {background-color: transparent;text-decoration: none;color: inherit;display: inline-inline-block;opacity: 1;transition: all 0.2s ease-in-out;}
a:active,
a:hover{outline: 0;text-decoration: none;color: inherit;opacity: 0.8;}

p{font-weight: 300;}
p.notes{font-size: 11px;font-style: italic;color: #a0a0a0;}

img{margin: 20px 0;}

h1{margin: 0 0 20px;padding: 0px;font-size: 2em;font-weight: 700;color: #5f6368;}
h2{margin: 0 0 20px;padding: 0px;font-size: 1.8em;font-weight: 700;color: #202124;}
h3{margin: 0 0 20px;padding: 0px;font-size: 1.4em;font-weight: 700;color: #202124;}
h4{margin: 0 0 15px;padding: 0px;font-size: 1.1em;font-weight: 700;color: #494a4c;}

/* ---- helpers ---- */
.show{display: block;}
.hidden{display: none !important;}
.pull-left{float: left;}
.pull-right{float: right;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-center{text-align: center;}
.block{display: block;}
.inline-block{display: inline-block;}
.clearfix:before,
.clearfix:after {content: "";display: table;}
.clearfix:after {clear: both;}
.clearfix {zoom: 1; /* ie 6/7 */}
.url{color: #0060b7;}
/* ---- helpers end ---- */

.content {
  margin: 0;
  padding: 40px;
  width: 100%;
  text-align: center;
}
.temperature{
  font-size: 90px;
  font-weight: 600;
  color: #000;
}
.temperature sup{font-size: 50px;font-weight: 300;}
.slider-temp{
  display: block;
  width: 100%;
  margin: 40px 0px 100px;
}
.button-power{
  padding: 20px 25px;
  text-decoration: none;
  border: none;
  background-color: #bf0e4f;
  border-radius: 50%;
}
.button-power svg{
  width: 40px;
  fill: #fff;
}
